body {
  font-size: 14px;
}
header {
  background: #3487d4;
  position: absolute;
  top: 10px;
  height: 46px;
  line-height: 46px;
  border-radius: 9px;
  width: 98%;
  margin-left: 1%;
}
header a.logo {
  float: left;
  color: #ffffff;
  margin-left: 20px;
  margin-right: 40px;
}
header nav.menu {
  float: left;
}
header nav.menu a {
  color: #eeeeee;
  margin-right: 18px;
  padding: 6px;
  border-radius: 9px;
}
header nav.menu a.active {
  color: #ffffff;
  border: 1px solid #eeeeee;
}
header nav.user {
  float: right;
  margin-right: 18px;
}
header nav.user a {
  color: #ffffff;
  margin-left: 18px;
}
header nav.user span {
  color: #ffffff;
}
header:after {
  clear: both;
}
footer {
  position: absolute;
  bottom: 0;
  background: #000000;
  height: 40px;
  line-height: 40px;
  width: 100%;
}
footer p {
  color: #ffffff;
  text-align: center;
}
footer p a {
  color: #888888;
}
.pagelist {
  margin-top: 9px;
  text-align: right;
}
section {
  position: absolute;
  top: 52px;
  bottom: 20px;
  width: 100%;
}
section img.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
}
section .leftbox {
  float: left;
  width: 68%;
  padding: 1%;
}
section .leftbox nav.menus {
  float: left;
  display: none;
}
section .leftbox .cntbox {
  float: left;
  width: 100%;
  height: 460px;
  overflow: auto;
}
section .leftbox .cntbox table {
  width: 100%;
  border-left: 1px solid #b2d2ef;
  line-height: 36px;
}
section .leftbox .cntbox table td,
section .leftbox .cntbox table th {
  border: solid #b2d2ef;
  border-width: 1px 1px 1px 0;
}
section .leftbox .cntbox table th {
  font-weight: 900;
}
section .leftbox .cntbox table td.name {
  cursor: pointer;
}
section .leftbox .cntbox table td.name:hover {
  color: #3487d4;
}
section .leftbox .cntbox .types {
  display: none;
}
section .leftbox .cntbox .types dl {
  line-height: 60px;
}
section .leftbox .cntbox .types dl dt {
  float: left;
  width: 50%;
  text-align: center;
}
section .leftbox .cntbox .types dl dt a {
  border-radius: 6px 0 6px 0;
  border: 1px solid #3487d4;
  padding: 9px 12px;
}
section .leftbox .cntbox .sdetail,
section .leftbox .cntbox .mdetail {
  display: none;
  position: relative;
}
section .leftbox .cntbox .sdetail .close,
section .leftbox .cntbox .mdetail .close {
  right: 10px;
  font-size: 30px;
  line-height: 30px;
}
section .leftbox .cntbox .sdetail dl,
section .leftbox .cntbox .mdetail dl {
  border: 1px solid #88b9e6;
  padding: 6px;
}
section .leftbox .cntbox .sdetail .chart,
section .leftbox .cntbox .mdetail .chart {
  border: 1px solid #88b9e6;
  padding: 6px;
  margin-top: 9px;
  height: 300px;
  overflow: hidden;
}
section .leftbox .cntbox[s="1"] table {
  display: none;
}
section .leftbox .cntbox[s="1"] .types {
  display: block;
}
section .leftbox .cntbox[s="2"] table {
  display: none;
}
section .leftbox .cntbox[s="2"] .sdetail {
  display: block;
}
section .leftbox .cntbox[s="3"] table {
  display: none;
}
section .leftbox .cntbox[s="3"] .mdetail {
  display: block;
}
section .leftbox.active nav.menus {
  display: block;
  width: 14%;
  margin-right: 2%;
  line-height: 112px;
  text-align: center;
  background: #88b9e6;
  color: #ffffff;
  border-radius: 9px;
}
section .leftbox.active nav.menus p {
  cursor: pointer;
}
section .leftbox.active .cntbox {
  width: 80%;
}
section .rightbox {
  float: right;
  width: 28%;
  padding: 1%;
}
section .rightbox .search {
  position: relative;
  height: 36px;
  overflow: hidden;
  border: 1px solid #5ea0dd;
  border-radius: 9px;
}
section .rightbox .search img {
  height: 26px;
  position: absolute;
  right: 6px;
  top: 5px;
  cursor: pointer;
}
section .rightbox .search input {
  width: 90%;
  margin-left: 2%;
  height: 34px;
  line-height: 36px;
}
section .rightbox .box {
  margin-top: 9px;
}
section .rightbox .box .title {
  border-bottom: 1px solid #5ea0dd;
  line-height: 32px;
  margin-bottom: 6px;
}
section .rightbox .box dl.news {
  line-height: 28px;
}
section .rightbox .pages {
  margin-top: 40px;
}
section .rightbox .pages img {
  height: 40px;
  margin-right: 18px;
  cursor: pointer;
}
