.knowledge .search {
  width: 70%;
  margin: 6px auto;
}
.knowledge .search .searchIpt {
  width: 82%;
  float: left;
  height: 30px;
  overflow: hidden;
  position: relative;
  border: 1px solid #88b9e6;
  border-radius: 2px;
}
.knowledge .search .searchIpt input[type="text"] {
  width: 100%;
  height: 100%;
  line-height: 28px;
  position: absolute;
  left: 0;
  text-indent: 6px;
}
.knowledge .search .searchIpt img {
  display: none;
}
.knowledge .search .searchIpt.active input[type="text"] {
  text-indent: 0.52rem;
}
.knowledge .search .searchIpt.active img {
  height: 100%;
  width: 0.5rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: inline;
}
.knowledge .search .searchBtn {
  width: 16%;
  float: left;
  overflow: hidden;
  height: 31px;
  margin-left: 0.5%;
}
.knowledge .search .searchBtn input[type="button"] {
  height: 100%;
  line-height: 30px;
  border-radius: 0.04rem;
  background: #3487d4;
  color: #ffffff;
  cursor: pointer;
}
.knowledge .search .searchBtn input[type="button"]:hover {
  background: #4993d8;
}
.knowledge .search select {
  height: 0.36rem;
}
.knowledge .search .filterBox {
  margin-bottom: 0.06rem;
}
.knowledge .search .filterBox dl.filter dt {
  float: left;
  position: relative;
  padding: 0.04rem 0.1rem;
}
.knowledge .search .filterBox dl.filter dt a {
  position: absolute;
  right: 0%;
  top: 0%;
}
.knowledge .search .menus span {
  padding: 0.06rem 0.12rem;
  margin: 0 0.06rem;
  cursor: pointer;
}
.knowledge .search .menus span.active {
  border: 1px solid #999999;
  cursor: defaut;
}
.knowledge .box {
  width: 96%;
  left: 2%;
  position: absolute;
  top: 50px;
  bottom: 50px;
}
.knowledge .box table {
  border-left: 1px solid #cccccc;
  width: 100%;
}
.knowledge .box table td,
.knowledge .box table th {
  border: solid #cccccc;
  border-width: 1px 1px 1px 0;
}
.knowledge .box table tr th,
.knowledge .box table tr td {
  line-height: 30px;
}
.knowledge .box table tr th:nth-child(1),
.knowledge .box table tr td:nth-child(1) {
  width: 10%;
}
.knowledge .box table tr th:nth-child(2),
.knowledge .box table tr td:nth-child(2) {
  width: 30%;
}
.knowledge .box table tr th:nth-child(3),
.knowledge .box table tr td:nth-child(3) {
  width: 30%;
}
.knowledge .box table tr th:nth-child(4),
.knowledge .box table tr td:nth-child(4) {
  width: 15%;
}
.knowledge .box table tr th:nth-child(5),
.knowledge .box table tr td:nth-child(5) {
  width: 15%;
}
.knowledge .box table thead {
  background: #4993d8;
  color: #ffffff;
}
.knowledge .box .boxs {
  position: absolute;
  top: 30px;
  bottom: 0;
  overflow: auto;
  width: 100%;
}
.knowledge .detail {
  margin: 0.2rem;
  line-height: 0.32rem;
  background: #ffffff;
  padding: 0.2rem;
}
.knowledge .detail a {
  color: #3487d4;
}
.knowledge .pagelist {
  position: absolute;
  right: 2%;
  bottom: 6px;
}
