<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>知识加工平台</title>
<link href="/css/jfa.css" rel="stylesheet" />
<link href="/css/base.css" rel="stylesheet" />
{%block css%}{%endblock%}
<link rel="shortcut icon" href="/favicon.ico" />
<!--[if lte IE 7]>
<link href="/css/ie/ie7.css" rel="stylesheet">
<![endif]-->
<!--[if lt IE 11]>
<script src="/js/ie/PIE.js" ></script>
<script src="/js/ie/html5shiv.min.js" ></script>
<script src="/js/ie/respond.min.js"></script>
<![endif]-->
</head>
<body>
<header class="pie">
<a href="/" class="logo">知识加工平台</a>
<nav class="menu">
	<a href="/"{%ifequal active "index"%} class="active"{%endifequal%}>主页</a>
	<a href="/knowledge/"{%ifequal active "knowledge"%} class="active"{%endifequal%}>知识</a>
</nav>
<nav class="user">
	<a>登陆</a>
</nav>
</header>
<section id="content">
{%block content%}{%endblock%}
</section>
<footer>
	<p>
	Tianji © 2016 &nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank">浙ICP备15025990号-1</a>
	</p>
</footer>
</body>
{%block js%}{%endblock%}

</html>