{%extends 'base.html'%}
{%block css%}<link href="css/index.css" rel="stylesheet" />{%endblock%}
{%block content%}
<div class="index">
	<img class="bg" src="img/bg.png"/>
	<img class="index index-1" src="img/index-1.jpg"/>
	<img class="index index-2" src="img/index-2.jpg"/>
	<img class="index index-3" src="img/index-3.jpg"/>
	<img class="index index-4" src="img/index-4.jpg"/>
	<img class="index index-5" src="img/index-5.jpg"/>
</div>
{%endblock%}
{%block js%}<script src="js/require.js" defer async="true" data-main="js/index"></script>{%endblock%}
