{%extends 'base.html'%}
{%block css%}<link href="/css/knowledge.css" rel="stylesheet" />{%endblock%}
{%block content%}
<div class="knowledge">
	<div class="search">
		<div class="searchIpt"><input type="text" id="search-input" value="寨卡"></div>
		<div class="searchBtn"><input type="button" id="search-btn" value="搜索"></div>
		<br class="cb"/>
	</div>
	<div class="box">
		<table>
			<thead>
				<tr><th>ID</th><th>标题</th><th>主题词</th><th>日期</th><th>操作</th></tr>
			</thead>
		</table>
		<div class="boxs">
			<table>
				<tbody id="list"></tbody>
			</table>
		</div>
	</div>
	<div class="pagelist"></div>
</div>
{%endblock%}
{%block js%}<script src="/js/require.js" defer async="true" data-main="/js/knowledge"></script>{%endblock%}
